$color-blue: #26a2ff;
$color-white: #fff;
$color-grey: #d9d9d9;

// $border-color: #c8c8cd;


/* 主色 */
$primary-color: 					#2d8cf0;			// 主色调
$light-primary-color: 				#5cadff;			// 主色调的hover
$dark-primary-color: 				#2b85e4;			// 主色调的active

/* 辅助色 */
$default-color: 					#7e848c;			// 默认颜色
$info-color: 						#2d8cf0;			// 信息提示
$success-color: 					#19be6b;			// 成功
$warning-color: 					#ff9900;			// 警告
$error-color: 						#ed3f14;			// 失败

/* 中心色 */
$title-color: 						#1c2438;			// 标题颜色
$content-color: 					#495060;			// 正文颜色
$sub-color: 						#80848f;			// 辅助/图标颜色
$disabled-color: 					#bbbec4;			// 失效颜色
$border-color: 						#dddee1;			// 边框颜色
$divider-color: 					#e9eaec;			// 分割线颜色
$background-color: 					#f8f8f9;			// 背景颜色


/* Cell Component */
$cell-value-color: #888;

/* Header Component */
$header-height: 40px;

/* Button Component */
$button-default-color: #656b79;
$button-default-background-color: #f6f8fa;
$button-default-plain-color: #5a5a5a;
$button-default-box-shadow: 0 0 1px #b8bbbf;
$button-primary-color: #fff;
$button-primary-background-color: #26a2ff;
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

/* Tab Item Component */
$tab-item-font-size: 12px;

/* Tabbar Component */
$tabbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;
$tabbar-tab-item-selected-color: $color-blue;

/* Navbar Component */
$navbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;

/* Checklist Component */
$checklist-title-color: #888;

/* Radio Component */
$radio-title-color: #888;

/* z-index */
$z-index-normal: 1;


